{% extends 'base.html' %}
{% block title %}{{ post['title'] }}{% endblock %}
{% block header %}
  <h1>
    <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
</h1>
{% endblock %}

{% block content %}

    <div class="post card">
        <div class="card-header">
            by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
        </div>
            
        <div class="card-body">
           <img src="{{ url_for('static', filename=post['image']) }}" class="card-img-top" alt="...">
            <div class="card-title mt-1">
                <h1><a class="card-link" href="{{url_for('bikeshare.view', id=post['id']) }}"> {{ post['title'] }}</a></h1>
            </div>
        </div>
    
        <ul class="list-group list-group-flush">
          {% if post['make'] %}
            <li class="list-group-item h4">Manufacturer: {{ post['make'] }}</li>
          {% endif %}
          {% if post['model'] %}
            <li class="list-group-item h4">Model: {{ post['model'] }}</li>
          {% endif %}
          {% if post['type'] %}
            <li class="list-group-item h4">Type: {{ post['type'] }}</li>
          {% endif %}
          {% if post['year'] %}
            <li class="list-group-item h4">Year: {{ post['year'] }}</li>
          {% endif %}
        </ul> 

        <div class="card-body">
            <p class="card-text">{{ post['body'] }}</p>
        </div>     

        <div class="card-body">                        
            {% if g.user['id'] == post['author_id'] %}
            <a class="action btn btn-outline-secondary mt-1" href="{{ url_for('bikeshare.update', id=post['id']) }}" style="--bs-btn-padding-y: .125rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: .75rem;">Edit</a>
            {% endif %}
        </div>
    </div>

<!-- </div> -->


{% endblock %}