{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('bikeshare.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>

  <form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" id="title" class="form-control" value="{{ request.form['title'] or post['title'] }}" required>
    </div>    
    <div class ="mb-3">
      <label for="img">Upload</label>
      <input type="file" name="image" value="{{ request.files['file'] }}">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea name="body" id="body" class="form-control">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-outline-info btn-lg">Submit</button>

  </form>

{% endblock %}