{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Join bikeshare{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-info btn-lg">Submit</button>

  </form>
{% endblock %}